.contact {
  background: var(--light);

  &_title {
    text-align: center;
    font-size: 2rem;
  }

  &_form {
    padding: 2rem 0;
  }

  &_form-group {
    input,
    textarea {
      width: 100%;
      margin: 0.5rem 0;
      padding: 1rem;
    }

    textarea {
      resize: none;
    }
  }

  &_button {
    margin-top: 1rem;
  }
}
