.contact {
  background: var(--light);

  &_title {
    text-align: center;
    font-size: 2rem;
  }

  &_form {
    padding: 2rem 0;
  }

  &_form-group {
    input,
    textarea {
      width: 100%;
      margin: 0.5rem 0;
      padding: 1rem;
      font-size: 1.125rem;

      &[placeholder] {
        font-size: 1.125rem;
        font-family: var(--primary-font);
      }
    }

    textarea {
      resize: none;
    }
  }

  &_button {
    margin-top: 1rem;
    font-family: var(--primary-font);
    font-size: 1.125rem;
    cursor: pointer;

    @media (max-width: 500px) {
      // width: 100%;
      margin: 1rem auto;
      display: block;
    }
  }
}
