.footer {
  background: var(--primary);
  color: var(--white);
  min-height: var(--footer-height);

  &_copyright {
    text-align: center;
    font-size: 1.125rem;
    line-height: var(--footer-height);
  }
}
