.header {
  background: var(--primary);
  color: var(--white);
  min-height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;

  &_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_logo {
    font-size: 2rem;
    font-weight: 700;
  }

  &_list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > * + * {
      margin-left: 1rem;
    }
  }

  &_link {
    display: block;
    line-height: var(--header-height);
    font-size: 1.125rem;
  }
}
