.home {
  // background: var(--light);
  position: relative;

  &_overlay {
    background: url(../img/hero_bg.jpg) no-repeat center center / cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
  }

  &_hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    & > * + * {
      margin-left: 2rem;
    }

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      width: 100%;

      & > * + * {
        margin: 0;
      }
    }
  }

  &_name {
    font-size: 3.25rem;
    font-weight: 700;

    @media (max-width: 768px) {
      text-align: center;
    }

    @media (max-width: 500px) {
      font-size: 2.5rem;
    }
  }

  &_role {
    font-size: 1.25rem;
    font-weight: bold;

    @media (max-width: 768px) {
      text-align: center;
    }

    @media (max-width: 500px) {
      font-size: 1rem;
    }
  }

  &_button-group {
    display: flex;
    align-items: center;
    margin: 2rem 0;

    & > * + * {
      margin-left: 1rem;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;

      & > * + * {
        margin: 0;
        margin-top: 1rem;
      }
    }
  }

  &_image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      width: 25rem;

      @media (max-width: 768px) {
        width: 20rem;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
