.home {
  background: var(--light);

  &_hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > * + * {
      margin-left: 2rem;
    }
  }

  &_name {
    font-size: 3rem;
  }

  &_role {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &_button-group {
    display: flex;
    align-items: center;
    margin: 2rem 0;

    & > * + * {
      margin-left: 1rem;
    }
  }

  &_image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80%;
    }
  }
}
