/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #333;
  --primary: #4c5d34;
  --secondary: #5e6d48;
  --light: #f8f9fa;
  --dark: #333;
  --black: #000;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --default-font: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --primary-font: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --secondary-font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tertiary-font: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --header-height: 5rem;
  --footer-height: 5rem;
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #2e381f;
    --secondary: #4c5d34;
  }
  :root .about {
    background-color: #333;
    color: var(--white);
  }
  :root .about_image {
    border: 2rem solid #444;
  }
  :root .contact {
    background-color: #222;
    color: var(--white);
  }
  :root .academic {
    background-color: var(--dark);
  }
  :root .experience_title,
:root .education_title,
:root .works_title {
    color: var(--white);
  }
  :root .experience_timeline,
:root .education_timeline,
:root .works_card-item {
    background: #222 !important;
  }
  :root .experience_timeline *,
:root .education_timeline *,
:root .works_card-item * {
    color: var(--white) !important;
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  padding-top: var(--header-height);
}
body.disable-scroll {
  overflow: hidden !important;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.gutter {
  padding: var(--header-height) 1rem;
}

.next-line {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5;
}

.button {
  background: var(--primary);
  color: var(--white);
  width: 11rem;
  line-height: 3.5rem;
  display: inline-block;
  text-align: center;
  border-radius: 2rem;
  border: 0.125rem solid var(--primary);
  -webkit-transition: background 0.5s ease, border 0.5s ease, color 0.5s ease;
  transition: background 0.5s ease, border 0.5s ease, color 0.5s ease;
}
.button--alt {
  background: var(--white);
  color: var(--primary);
}
.button:hover {
  background: var(--secondary);
  border: 0.125rem solid var(--secondary);
  color: white;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  padding: 0;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--white);
}

.hamburger-box {
  width: 32px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 32px;
  height: 3px;
  background-color: var(--white);
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -8px;
}

.hamburger-inner::after {
  bottom: -8px;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header {
  background: var(--primary);
  color: var(--white);
  min-height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  z-index: 1000;
}
@media (max-width: 768px) {
  .header {
    display: none;
  }
}
.header_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}
.header_logo {
  font-size: 2rem;
  font-weight: 700;
}
.header_logo a {
  line-height: var(--header-height);
  display: block;
}
.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_list > * + * {
  margin-left: 1.5rem;
}
.header_link {
  display: block;
  line-height: var(--header-height);
  font-size: 1.125rem;
}
.header_link:hover {
  text-decoration: underline;
}

.mobile-header {
  background: var(--primary);
  color: var(--white);
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  overflow: hidden;
  display: none;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
  z-index: 1000;
}
.mobile-header--open {
  height: 100%;
}
@media (max-width: 768px) {
  .mobile-header {
    display: block;
  }
}
.mobile-header_topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}
.mobile-header_logo {
  font-size: 2rem;
  font-weight: 700;
}
.mobile-header_logo a {
  line-height: var(--header-height);
  display: block;
}
.mobile-header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-header_link {
  display: block;
  line-height: var(--header-height);
  font-size: 1.125rem;
}
.mobile-header_link:hover {
  text-decoration: underline;
}

.home {
  position: relative;
}
.home_overlay {
  background: url(../img/hero_bg.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
}
.home_hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}
.home_hero > * + * {
  margin-left: 2rem;
}
@media (max-width: 768px) {
  .home_hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
  .home_hero > * + * {
    margin: 0;
  }
}
.home_name {
  font-size: 3.25rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  .home_name {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .home_name {
    font-size: 2.5rem;
  }
}
.home_role {
  font-size: 1.25rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .home_role {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .home_role {
    font-size: 1rem;
  }
}
.home_button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}
.home_button-group > * + * {
  margin-left: 1rem;
}
@media (max-width: 768px) {
  .home_button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home_button-group > * + * {
    margin: 0;
    margin-top: 1rem;
  }
}
.home_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.home_image img {
  width: 25rem;
}
@media (max-width: 768px) {
  .home_image img {
    width: 20rem;
  }
}
@media (max-width: 768px) {
  .home_image img {
    width: 100%;
  }
}

.about_hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about_hero > * + * {
  margin-left: 2rem;
}
@media (max-width: 768px) {
  .about_hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_hero > * + * {
    margin: 0rem;
  }
}
.about_image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: var(--light);
  border: 2rem solid var(--light);
  overflow: hidden;
}
.about_image img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.about_info {
  width: 62.5%;
}
@media (max-width: 768px) {
  .about_info {
    width: 100%;
  }
}
.about_title {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .about_title {
    padding-top: 5rem;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .about_description {
    padding-top: 2rem;
  }
}

.contact {
  background: var(--light);
}
.contact_title {
  text-align: center;
  font-size: 2rem;
}
.contact_form {
  padding: 2rem 0;
}
.contact_form-group input,
.contact_form-group textarea {
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  font-size: 1.125rem;
}
.contact_form-group input[placeholder],
.contact_form-group textarea[placeholder] {
  font-size: 1.125rem;
  font-family: var(--primary-font);
}
.contact_form-group textarea {
  resize: none;
}
.contact_button-group > * + * {
  margin-left: 1rem;
}
.contact_button {
  margin-top: 1rem;
  font-family: var(--primary-font);
  font-size: 1.125rem;
  cursor: pointer;
}
@media (max-width: 500px) {
  .contact_button {
    margin: 1rem auto;
    display: block;
  }
}

.academic {
  background: var(--light);
  padding: 2rem;
}
.academic .experience,
.academic .education {
  margin: 0 0 2rem;
}
.academic .experience_title,
.academic .education_title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
@media (max-width: 500px) {
  .academic .experience_title,
.academic .education_title {
    text-align: center;
  }
}
.academic .experience_timeline,
.academic .education_timeline {
  background: var(--white);
  padding: 2rem;
  border-radius: 0.55rem;
}
.academic .experience_timeline > * + *,
.academic .education_timeline > * + * {
  margin-top: 2rem;
}
.academic .experience_timeline-title,
.academic .education_timeline-title {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
}
.academic .experience_timeline-date,
.academic .education_timeline-date {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray);
  margin-bottom: 1.5rem;
  display: block;
}
.academic .experience_timeline-list,
.academic .education_timeline-list {
  list-style-type: disc;
  padding-left: 1rem;
}
.academic .experience_timeline-list > * + *,
.academic .education_timeline-list > * + * {
  margin-top: 0.5rem;
}
.academic .experience_timeline-item,
.academic .education_timeline-item {
  line-height: 1.5;
  font-size: 0.875rem;
  color: var(--dark);
}
.academic .works_title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
@media (max-width: 500px) {
  .academic .works_title {
    text-align: center;
  }
}
.academic .works_card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -1rem;
}
.academic .works_card-item {
  text-align: center;
  background: var(--white);
  padding: 2rem;
  border-radius: 0.5rem;
  margin: 1rem;
  min-height: 15rem;
  -ms-flex-preferred-size: calc(50% - 2rem);
      flex-basis: calc(50% - 2rem);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 500px) {
  .academic .works_card-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.academic .works_card-item:last-child {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (max-width: 640px) {
  .academic .works_card-item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.academic .works_card-number {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary);
  border: 0.125rem solid var(--primary);
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
.academic .works_card-title {
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1rem 0;
}
.academic .works_card-link {
  margin: 0.5rem;
}
.academic .works_card-link i {
  padding-left: 0.5rem;
}

.footer {
  background: var(--primary);
  color: var(--white);
  min-height: var(--footer-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_copyright {
  text-align: center;
  font-size: 1.125rem;
}
@media (max-width: 500px) {
  .footer_copyright span {
    display: block;
  }
}